.venv
__pycache__/
*.pyc
.venv/
.vscode/
procesado/
*.csv
*.png
*.jpg



*.duckdb
*.db
artifacts/

# DuckDB
*.duckdb
*.duckdb.wal
*.duckdb-shm
*.wal
*.tmp
data/*.duckdb*
data/*.wal
data/exoplanets.duckdb